@model IEnumerable<Labo3_JonnathanLanuza1082219__CésarSilva1184519.Models.Medicine>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<form asp-controller="AAVL" asp-action="Index" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <hr />
        <button type="submit">Upload</button>
    </form>

    @if (Model.Count() > 0)
    {
        <hr />
        <table cellpadding="0" cellspacing="0" border="1">
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Description</td>
                <td>Product</td>
                <td>Price</td>
                <td>Existence</td>
            </tr>
            @foreach (Medicine medicina in Model)
            {
                <tr>
                    <td>@Medicine.Id</td>
                    <td>@Medicine.Name</td>
                    <td>@Medicine.Description</td>
                    <td>@Medicine.Product</td>
                    <td>@Medicine.Price</td>
                    <td>@Medicine.Existence</td>
                </tr>
            }
        </table>
    }*@

<p>
    <a asp-action="CreateClient">Add information</a>
</p>
<p>
    <a asp-action="Create">Add list</a>
</p>
@*<body>
        @using (Html.BeginForm("Index", "AAVL", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="SelectFile" />
            <input type="submit" value="Go" />
        }
        @if (Model.Count() > 0)
        {
            <hr />
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Existence</td>
                </tr>
                @foreach (Medicine customer in Model)
                {
                    <tr>
                        <td>@customer.Id</td>
                        <td>@customer.Name</td>
                        <td>@customer.Description</td>
                        <td>@customer.Product</td>
                        <td>@customer.Price</td>
                        <td>@customer.Existence</td>
                    </tr>
                }
            </table>
        }
    </body>*@
<form method="post">
    Search ONLY medicine name  </br>
    <input type="text" name="Name" value="@ViewData["SearchName"]" /> </br>
    <input type="submit" asp-action="Search" />
</form></br>
<a asp-action="Index"> Return to list </a>
        </br>
        </br>
<form method="post">
    RESUPPLY medicine?</br>
    <input type="submit" value="@ViewData["Resupply"]" asp-action="Resupply" />
</form>
    </table>


@*@using Read_CSV_MVC.Models*@
@*@model IEnumerable<MedicineModels>*@
@*@{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        @using (Html.BeginForm("Index", "AAVL", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="postedFile" />
            <input type="submit" value="Import" />
        }
        @if (Model.Count() > 0)
        {
            <hr />
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Existence</td>
                </tr>
                @foreach (Medicine customer in Model)
                {
                    <tr>
                        <td>@customer.Id</td>
                        <td>@customer.Name</td>
                        <td>@customer.Description</td>
                        <td>@customer.Product</td>
                        <td>@customer.Price</td>
                        <td>@customer.Existence</td>
                    </tr>
                }
            </table>
        }
    </body>
    </html>*@